* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*INICIO MENU*/
#img_logo{
    width: 216px;
    height: 60.41px; 
}
.menu {
    position: fixed;
    height: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
a,p {
    color: #000000;
    text-decoration: none;
}
.menu-list {         
    list-style-type: none;
    padding: 15px;
    margin: 0;
    height: 64px;
    display: flex;
    align-items: center;
}

.menu-list li {
    display: inline;
    margin-right: 20px;
}

.menu-list li a {
    color: #000000;
    text-decoration: none;
}

.container-fluid {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*fim MENU*/

.centered-iframe {
    text-align: center;
    height: 900px;
}

.centered-iframe iframe {
    display: inline-block;
    height: 100%;
}

.container {
    max-width: 1440px;
    width: 90%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.3rem;
    text-align: center;
}

.card {
    margin-top: -50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 10px 42px -15px rgba(0,0,0,0.75);
    width: 320px;
    height: 500px;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 10px;
    transition: 0.5s;
}

.card h2 {
    margin-bottom: auto;
    align-items: center;
    padding-bottom: 10%;
}

.card:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.box_diz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}

  /* Estilo para o botão */
  #voltar-ao-topo {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }

  /* Estilo de hover */
  #voltar-ao-topo:hover {
    background-color: #0056b3;
  }




/*INICIO Roda Pé*/
  .container_pe {
    display: inline-block;
    vertical-align: top; 
}

  .box_info{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #000000;
    padding: 100px;
    box-sizing: border-box;
    text-align: center; 
    background-color: #000000;
    display: flex;
    justify-content: space-between; 
  }

  .box_info p{
    color: #ffffff;
  }
  #logo_rodape{
    width: 136.4px;
    height: 38.15px;
  }
  .container_pe {

    border-top: 4px double #37485c;
    border-bottom: 4px double #37485c;
    overflow: hidden;
    text-align: center; 
    padding: 80px;
    width: 350px; 
}

.container_pe img {
    display: block;
    margin: 0 auto 10px; 
}

.container_pe p {
    margin: 0; 
}
#social_media{
    width: 136.4px;
    height: 136.4px;
}

.bottom_text {    
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
}

/*FIM Roda Pé*/